
.campaign_data {  
}

.campaign_instructions {
}

.campaign_email {
  border: solid 1px;
}

.campaign_subject {
  font-weight : bold;
  padding: 10px;
}

.campaign_message {
  padding: 10px;
}